@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @course.LectureName
                    </span>
                    <br />
                    <span class="category">
                        @course.Category.Name
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-tongle-attendance">Going</button>
                    </span>
                </div>
            </li>
        }
    </ul>
</div>

@section scripts{
    <script>
            $(document).ready(function () {
                $(".js-tongle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances ", { Id: button.attr("data-course-id") })
                        .done(function (result) {
                            if (result == "cancel") {
                                alert("Cancel register course successfully!")
                                button
                                    .removeClass("btn-info")
                                    .addClass("btn-default")
                                    .text("Return?");
                            }
                            else {
                                alert("Register course successfully!")
                                button
                                    .removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Going");
                            }
                        }).fail(function () {
                            alert("Something fail");
                        });
                });


            });
    </script>
}

